.Modal{
    /* border: 10px solid black; */
      /* display: flex; */
      margin-top: 3em;
      width: 80%;
      margin: auto;

    display: grid;
    grid-template-columns: 70% 1fr;
    margin-top: 2em;
}

.modal011{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
 grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );

    place-content: center;
    place-items: center;
    justify-content: space-around;
    align-items: center;
}

.UsuarioLogin{
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* position: fixed;
    height: auto; */
    

}
.Fideximagen{
    font-size: 5em;
}

.DenterCenter{
  background: lightblue;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
  box-shadow: -2px 3px 24px 10px rgba(126, 124, 124, 0.75);
    /* background-color: whitesmoke; */
}

.posisionDestino{

    position: absolute;
    top: 50%;


}

.IconoElejir{
    font-size: 5em;    
}

.Modal{
    /* border: 1px solid black; */
padding: 2em  ;
border-radius: 10px;
margin-top: 2em;
}
.Modal .modal011,.Modal .UsuarioLogin {
    
        border: 1px solid rgb(223, 219, 219);
        text-align: center;
}
.borderss{
    display: flex;
    justify-content:center;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    text-align: center;
    margin: auto;
    /* padding: 1em; */
}
.borderss  input {
    height: 50px;
    width: 500px;
    padding: 1em;
    outline: none;
    margin-top: 1em;
    border-radius: 5px;
}
.UsuarioLogin{ 
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}